<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.swagger.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.example.swagger.domain.User">
		<result column="id" property="id" />
		<result column="user_name" property="name" />
		<result column="user_age" property="age" />
		<result column="user_description" property="description" />
	</resultMap>

	<parameterMap id="User" type="com.example.swagger.domain.User"/>
	<sql id="Base_Column_List">
		id, user_name, user_age, description
	</sql>

	<select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id}
	</select>

	<select id="getUserList" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from user
	</select>

	<insert id="addUser" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
		insert into
			user(id,user_name,user_age,description)
		values
			(#{id},#{name},#{age},#{description})
	</insert>

	<update id="updateUser" parameterMap="User">
		update
		user
		set
		<if test="cityName!=null">
			user_name = #{name},
		</if>
		<if test="description!=null">
			description = #{description}
		</if>
		<if test="age!=null">
			user_age = #{age}
		</if>
		where
			id = #{id}
	</update>

	<delete id="deleteUser" parameterType="java.lang.Long">
		delete from
			user
		where
			id = #{id}
	</delete>
</mapper>
